@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}
<script src="~/js/Services/DataResources.js"></script>
<script src="~/js/Controllers/MapController.js"></script>
<div class="layout" ng-controller="Map" ng-init="Init()">
    <div class="toolPanel">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Tools</h3>
            </div>
            <div class="panel-body">
                <div class="md-overlay">
                    <button title="Add Wall"
                            type="button" class="btn-tool" ng-click="changeMode('line')"
                            ng-class="{activeBtn : isSelected('line')}">
                        <img src="..\img\wall.png" />
                    </button>
                </div>
                <div class="md-overlay">
                    <button title="Add Table"
                            type="button" class="btn-tool" ng-click="changeMode('table')"
                            ng-class="{activeBtn : isSelected('table')}">
                        <img src="..\img\table.png" />
                </div>
                <div class="md-overlay">
                    <button title="Assign Employee"
                            type="button" class="btn-tool" ng-click="changeMode('assign')"
                            ng-class="{activeBtn : isSelected('assign')}">
                        <img src="..\img\assign.png" />
                    </button>
                </div>
                <div class="md-overlay">
                    <button title="Discard Employee"
                            type="button" class="btn-tool" ng-click="changeMode('discard')"
                            ng-class="{activeBtn : isSelected('discard')}">
                        <img src="..\img\discard.png" />
                    </button>
                </div>
                <div class="md-overlay">
                    <button title="Show Room"
                            type="button" class="btn-tool" ng-click="showRoom()">
                        <img src="..\img\newroom.png" />
                    </button>
                </div>
                <div class="md-overlay">
                    <button title="Add Window"
                            type="button" class="btn-tool" ng-click="changeMode('window')"
                            ng-class="{activeBtn : isSelected('window')}">
                        <img src="..\img\window.png" />
                    </button>
                </div>
                <div class="md-overlay">
                    <button title="Add Door"
                            type="button" class="btn-tool" ng-click="changeMode('door')"
                            ng-class="{activeBtn : isSelected('door')}">
                        <img src="..\img\door.png" />
                    </button>
                </div>
            </div>
        </div>
        
    </div>
    <div class="canvasPanel">
        <div>{{'Room: ' + RoomCaption}}</div>
        <div class="canvas">@Html.Partial("Paper")</div>
        <div>{{X +' : '+ Y}}</div>
        <div>{{'HitResult: ' + HitResult}}</div>
    </div>
    <div class="employeePanel panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Emploee List</h3>
        </div>
        <div class="employeeList panel-body">
            <table class="table " id="tblEmployee">
                <tbody>
                    <tr ng-repeat="employee in employeeList" ng-class="{selected: isSelectedEmployee(employee)}" ng-click="selectEmployee(employee)">
                        <td>{{employee.FioShort}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
