<script src="~/js/Directives/Paper.js"></script>

<div class="paperCanvas" >
    <canvas id="paperCanvas" animate
            style="-webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" width="700" height="400"></canvas>
</div>


