
<div class="paperCanvas">
    <canvas id="paperCanvas" ng-mousedown="mouseDown($event)" ng-mousemove="mouseMove($event)" ng-mouseup="mouseUp()"
            style="-webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" width="700" height="400"></canvas>
</div>