<div id="screenTextDropDownMenuText" class="dropDownInput" >
    <div>
        <input id="screenTextDropDownNumberInput" type="text" class="form-control"
               ng-model="screenTextDropDownText" ng-keypress="screenTextDropDownKeyPress($event)" />
    </div>
</div>
