<div class="width30 inlineBlock" ng-show="roomMode == 'select'">
    <select class="selectRoom" ng-model="selectedRoom"
            ng-options="r.Caption for r in rooms"
            ng-change="changeRoom(selectedRoom.Id, true)"></select>
</div>
<div class="width30 inlineBlock" ng-show="roomMode == 'edit'">
    <div id="editRoomButtonsDiv">
        <button title="Save" type="button" ng-click="saveRoom()">
            <img src=@Url.Content("~/img/save.png") />
        </button>
        <button title="Cancel" type="button" ng-click="undoRoom()">
            <img src=@Url.Content("~/img/undo.png") />
        </button>
    </div>
    <div id="editRoomInputDiv">
        <input class="form-control" ng-model="roomCaption" />
    </div>
</div>
<div class="width30 inlineBlock">
    <button title="Delete Room" class="inlineBlock newRoomButton"
            type="button" ng-click="deleteRoomClick()"
            ng-show="userAccess.EditPlan">
        <img src=@Url.Content("~/img/deleteroom.png") />
        Delete
    </button>
    <button title="Edit Plan" class="inlineBlock newRoomButton"
            type="button" ng-click="switchEditPlanMode()"
            ng-show="userAccess.EditPlan">
        <img src=@Url.Content("~/img/editplan.png") />
        Edit Plan
    </button>
    <button title="Add Room" class="inlineBlock newRoomButton"
            type="button" ng-click="showRoom()"
            ng-show="userAccess.EditPlan">
        <img src=@Url.Content("~/img/addroom.png") />
        Add Room
    </button>
</div>
<div class="width30 inlineBlock zoomDiv">
    Zoom:
    <div class="md-overlay inlineBlock">
        <button title="Add Table" class="inlineBlock scaleButton"
                type="button" ng-click="scalePlus()">
            +
        </button>
    </div><div class="md-overlay inlineBlock zoomValueDiv">
        {{zoomValue + '%'}}
    </div><div class="md-overlay inlineBlock">
        <button title="Show Room" class="inlineBlock scaleButton"
                type="button" ng-click="scaleMinus()">
            -
        </button>
          </div>@*<div class="md-overlay inlineBlock">
                    <button title="Fit Room" class="inlineBlock"
                            type="button" ng-click="scaleFit()">
                        Fit
                    </button>
                </div>*@@*<div class="md-overlay inlineBlock">
                          {{globalOffset.x + ', ' + globalOffset.y}}


                      </div>*@
    </div>
