<div id="tableDropDownMenuButtons" ng-show="tableDropDownMenuMode == 'buttons'">
    <button class="dropDownButton" title="Assign Employee" type="button" ng-click="showEmployeeInput()">
        <img src=@Url.Content("~/img/assign.png") />
    </button>
    <button class="dropDownButton" title="Discard Employee" type="button" ng-click="discardEmployee()">
        <img src=@Url.Content("~/img/discard.png") />
    </button>
    <button class="dropDownButton" title="Set Number" type="button" ng-click="showTableNumberInput()">
        <img src=@Url.Content("~/img/number.png") />
    </button>
    <button class="dropDownButton" title="Rotate" type="button" ng-click="rotateTable()">
        <img src=@Url.Content("~/img/rotate.png") />
    </button>
</div>
<div id="tableDropDownMenuEmployee">
    <div id="tableInputDiv" class="dropDownInput" ng-show="tableDropDownMenuMode == 'employee'">
        <input id="tableDropDownEmployeeInput" class="form-control" />
    </div>
</div>
<div id="tableDropDownMenuNumber" class="dropDownInput" ng-show="tableDropDownMenuMode == 'number'">
    <div>
        <input id="tableDropDownNumberInput" type="text" class="form-control"
               ng-model="tableDropDownNumber" ng-keypress="tableNumberKeyPress($event)" />
    </div>
</div>
