<div>
    <div class="panel-body">
        <div class="md-overlay">
            <button title="Pointer"
                    type="button" class="btn-tool" ng-click="changeMode({ mode: 'view' })"
                    ng-class="{activeBtn : isSelected('view')}">
                <img ng-show="! isSelected('view')" src=@Url.Content("~/img/pointer.png") />
                <img ng-show="isSelected('view')" src=@Url.Content("~/img/pointer_active.png") />
            </button>
        </div>
        <div class="md-overlay dropdown">
            <button title="Add Wall"
                    type="button" class="btn-tool"
                    data-toggle="dropdown"
                    ng-class="{activeBtn : isSelected('line')}">
                <img ng-show="! isSelected('line')" src=@Url.Content("~/img/wall.png") />
                <img ng-show="isSelected('line')" src=@Url.Content("~/img/wall_active.png") />
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCountry">
                <li><a ng-click="changeMode({ mode: 'add', type: 'line', subtype: 1})">External</a></li>
                <li><a ng-click="changeMode({ mode: 'add', type: 'line', subtype: 2})">Internal</a></li>
            </ul>
        </div>
        <div class="md-overlay">
            <button title="Add Table"
                    type="button" class="btn-tool" ng-click="changeMode({ mode: 'add', type: 'table'})"
                    ng-class="{activeBtn : isSelected('table')}">
                <img ng-show="! isSelected('table')" src=@Url.Content("~/img/table.png") />
                <img ng-show="isSelected('table')" src=@Url.Content("~/img/table_active.png") />
            </button>
        </div>
        <div class="md-overlay">
            <button title="Add Text"
                    type="button" class="btn-tool" ng-click="changeMode({ mode: 'add', type: 'text'})"
                    ng-class="{activeBtn : isSelected('text')}">
                <img ng-show="! isSelected('text')" src=@Url.Content("~/img/text.png") />
                <img ng-show="isSelected('text')" src=@Url.Content("~/img/text_active.png") />
            </button>
        </div>
        <div class="md-overlay">
            <button title="Add Window"
                    type="button" class="btn-tool" ng-click="changeMode({ mode: 'add', type: 'window', parenttype: 'line'})"
                    ng-class="{activeBtn : isSelected('window')}">
                <img ng-show="! isSelected('window')" src=@Url.Content("~/img/window.png") />
                <img ng-show="isSelected('window')" src=@Url.Content("~/img/window_active.png") />
            </button>
        </div>
        <div class="md-overlay">
            <button title="Add Door"
                    type="button" class="btn-tool" ng-click="changeMode({ mode: 'add', type: 'door', parenttype: 'line'})"
                    ng-class="{activeBtn : isSelected('door')}">
                <img ng-show="! isSelected('door')" src=@Url.Content("~/img/door.png") />
                <img ng-show="isSelected('door')" src=@Url.Content("~/img/door_active.png") />
            </button>
        </div>
        <div class="md-overlay">
            <button title="Delete"
                    type="button" class="btn-tool" ng-click="changeMode({ mode: 'delete' })"
                    ng-class="{activeBtn : isSelected('delete')}">
                <img ng-show="! isSelected('delete')" src=@Url.Content("~/img/delete.png") />
                <img ng-show="isSelected('delete')" src=@Url.Content("~/img/delete_active.png") />
            </button>
        </div>
        <div class="md-overlay dropdown">
            <button title="Settings"
                    type="button" class="btn-tool"
                    data-toggle="dropdown">
                <img src=@Url.Content("~/img/settings.png") />
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCountry">
                <li>
                    <a ng-click="changeWallMode('90')">
                        <span ng-class="{fontBold: wallMode == '90'}">90 degree</span>
                    </a>
                </li>
                @*<li><a ng-click="changeWallMode('45')">
                        <span ng-class="{fontBold: wallMode == '45'}">45 degree</span>
                    </a></li>*@
                <li>
                    <a ng-click="changeWallMode('free')">
                        <span ng-class="{fontBold: wallMode == 'free'}">Free</span>
                    </a>
                </li>
                <li>
                    <a ng-click="importEmployeesWithConfirm()">
                        <span>Import</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
