<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Tools</h3>
    </div>
    <div class="panel-body doubleBorderTop">
        <div class="md-overlay dropdown">
            <button title="Add Wall"
                    type="button" class="btn-tool"
                    data-toggle="dropdown"
                    ng-class="{activeBtn : isSelected('line')}">
                <img src=@Url.Content("~/img/wall.png") />
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCountry">
                <li><a ng-click="changeMode('line', 1)">External</a></li>
                <li><a ng-click="changeMode('line', 2)">Internal</a></li>
            </ul>
        </div>
        <div class="md-overlay">
            <button title="Add Table"
                    type="button" class="btn-tool" ng-click="changeMode('table')"
                    ng-class="{activeBtn : isSelected('table')}">
                <img src=@Url.Content("~/img/table.png") />
            </button>
        </div>
        <div class="md-overlay">
            <button title="Show Room"
                    type="button" class="btn-tool" ng-click="showRoom()">
                <img src=@Url.Content("~/img/newroom.png") />
            </button>
        </div>
        <div class="md-overlay">
            <button title="Add Window"
                    type="button" class="btn-tool" ng-click="changeMode('window')"
                    ng-class="{activeBtn : isSelected('window')}">
                <img src=@Url.Content("~/img/window.png") />
            </button>
        </div>
        <div class="md-overlay">
            <button title="Add Door"
                    type="button" class="btn-tool" ng-click="changeMode('door')"
                    ng-class="{activeBtn : isSelected('door')}">
                <img src=@Url.Content("~/img/door.png") />
            </button>
        </div>
        <div class="md-overlay">
            <button title="Delete"
                    type="button" class="btn-tool" ng-click="changeMode('delete')"
                    ng-class="{activeBtn : isSelected('delete')}">
                <img src=@Url.Content("~/img/delete.png") />
            </button>
        </div>
        <div class="md-overlay">
            <button title="Plus"
                    type="button" class="btn-tool" ng-click="scalePlus()">
                <img src=@Url.Content("~/img/plus.png") />
            </button>
        </div>
        <div class="md-overlay">
            <button title="Minus"
                    type="button" class="btn-tool" ng-click="scaleMinus()">
                <img src=@Url.Content("~/img/minus.png") />
            </button>
        </div>
        <div class="md-overlay dropdown">
            <button title="Settings"
                    type="button" class="btn-tool"
                    data-toggle="dropdown">
                <img src=@Url.Content("~/img/settings.png") />
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCountry">
                <li><a ng-click="changeWallMode('90')">
                        <span ng-class="{fontBold: wallMode == '90'}">90 degree</span>
                    </a></li>
                @*<li><a ng-click="changeWallMode('45')">
                        <span ng-class="{fontBold: wallMode == '45'}">45 degree</span>
                    </a></li>*@
                <li><a ng-click="changeWallMode('free')">
                        <span ng-class="{fontBold: wallMode == 'free'}">Free</span>
                    </a></li>
            </ul>
        </div>
    </div>
</div>
